In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
df = pd.read_csv('C:/Users/Gordon Huy/Documents/Data Visualization Project/Datasets/co2-emissions-and-gdp.csv',encoding = 'unicode_escape')
df = pd.DataFrame(df, dtype=object)
df.dropna()

,Entity,Code,Year,Annual CO2 emissions,Annual consumption-based CO2 emissions,"GDP, PPP (constant 2017 international $)"
124,Albania,ALB,1990,5444704.0,5435844.3598,15865184944.236799
125,Albania,ALB,1991,4228256.0,4507016.8058,11422593382.1579
126,Albania,ALB,1992,2495184.0,2842828.1278,10601638926.256399
127,Albania,ALB,1993,2315648.0,2603634.2876,11615093237.565399
128,Albania,ALB,1994,1912608.0,2311874.1767,12579478933.515699
...,...,...,...,...,...,...
8742,Zimbabwe,ZWE,2015,12225821.0,13350047.4505,44192792873.673103
8743,Zimbabwe,ZWE,2016,10737567.0,12152704.0835,44526832606.132698
8744,Zimbabwe,ZWE,2017,9581633.0,11247646.6466,46619326510.285202
8745,Zimbabwe,ZWE,2018,11854367.0,13162743.3825,48249678732.539902
8746,Zimbabwe,ZWE,2019,10949084.0,12421776.8111,44341454755.204201

In [71]:
df1 = df.drop(df.index[(df['Year']<= 1999) & (df['Year'] >= 1600)])
df2 = df1.drop(df1.index[(df1["Annual CO2 emissions"] >= 600000000)])
df2

            Entity Code  Year Annual CO2 emissions
51     Afghanistan  AFG  2000               757672
52     Afghanistan  AFG  2001               797962
53     Afghanistan  AFG  2002              1051609
54     Afghanistan  AFG  2003              1185951
55     Afghanistan  AFG  2004               889167
...            ...  ...   ...                  ...
24665     Zimbabwe  ZWE  2016             10737567
24666     Zimbabwe  ZWE  2017              9581633
24667     Zimbabwe  ZWE  2018             11854367
24668     Zimbabwe  ZWE  2019             10949084
24669     Zimbabwe  ZWE  2020             10531342

[4485 rows x 4 columns]

In [ ]:
df2 = df.iloc[:, np.r_[1, 74:105]]
df2

In [3]:
options = ["World"]
df3 = df[df["Entity"].isin(options)]
df3

,Entity,Code,Year,Annual CO2 emissions,Annual consumption-based CO2 emissions,"GDP, PPP (constant 2017 international $)"
8624,World,OWID_WRL,1990,22749574360.0,22749574360.348202,50950509069488.398438
8625,World,OWID_WRL,1991,23238102148.0,23238102147.710899,51647194959981.101562
8626,World,OWID_WRL,1992,22569624280.0,22569624279.841801,52470667633217.296875
8627,World,OWID_WRL,1993,22803495349.0,22803495349.158501,53337588714185.796875
8628,World,OWID_WRL,1994,22964583359.0,22964583359.0564,54833948860734.5
8629,World,OWID_WRL,1995,23453944453.0,23453944453.312199,56562297159824.101562
8630,World,OWID_WRL,1996,24154961206.0,24154961205.548599,58705719130559.398438
8631,World,OWID_WRL,1997,24300550431.0,24300550430.934601,60986320577218.5
8632,World,OWID_WRL,1998,24206271270.0,24206271269.624001,62501121248218.601562
8633,World,OWID_WRL,1999,24518962288.0,24518962288.010601,64690042408440.898438
8634,World,OWID_WRL,2000,25234207250.0,25234207250.3978,67746249355231.0
8635,World,OWID_WRL,2001,25451054498.0,25451054497.794399,69316442935601.703125
8636,World,OWID_WRL,2002,26039191477.0,26039191477.360802,71196116657665.0
8637,World,OWID_WRL,2003,27366723291.0,27366723290.818298,73854265756934.09375
8638,World,OWID_WRL,2004,28627533033.0,28627533033.093102,77602966693876.203125
8639,World,OWID_WRL,2005,29602777196.0,29602777195.8923,81143163086806.203125
8640,World,OWID_WRL,2006,30583530081.0,30583530080.9338,85317812651766.40625
8641,World,OWID_WRL,2007,31493741589.0,31493741589.178501,89736479352572.203125
8642,World,OWID_WRL,2008,32069444008.0,32069444008.4781,92137080273009.40625
8643,World,OWID_WRL,2009,31607042410.0,31607042409.971901,91525864324734.703125
8644,World,OWID_WRL,2010,33343300453.0,33343300452.8526,96148429697269.203125
8645,World,OWID_WRL,2011,34468451046.0,34468451045.748802,99863601661332.0
8646,World,OWID_WRL,2012,34974075146.0,34974075146.015099,103026668031012.0
8647,World,OWID_WRL,2013,35283025443.0,35283025443.351997,106423356016033.0
8648,World,OWID_WRL,2014,35534442952.0,35534442952.210098,110099865752273.0
8649,World,OWID_WRL,2015,35496406339.0,35496406339.082603,113829052972542.0
8650,World,OWID_WRL,2016,35452459298.0,35452459297.948997,117527206583640.0
8651,World,OWID_WRL,2017,35925737687.0,35925737687.051598,121974483812884.0
8652,World,OWID_WRL,2018,36646139785.0,36646139784.577904,126314862833649.0
8653,World,OWID_WRL,2019,36702502903.0,36702502921.112999,129796846031690.0
8654,World,OWID_WRL,2020,34807259099.0,34807259117.444801,125549812334109.0

In [30]:
df4 = df.groupby(by=[], as_index=False).sum()
df4

,Country/Region,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,...,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20
0,France,57125,59227,64452,47376,48225,50884,47395,51250,55034,...,158867,157158,159969,161647,162280,165966,169098,167643,168861,169387
1,Italy,110574,115242,119827,124632,128948,132547,135586,139422,143626,...,187327,189973,192994,195351,197675,199414,201505,203591,205463,207428
2,US,223255,255531,287932,319777,349017,380799,410835,441898,477508,...,849927,881892,913857,944771,970742,995392,1019965,1046817,1076519,1111411
3,Vietnam,218,233,237,240,241,245,249,251,255,...,268,268,270,270,270,270,270,270,270,270

In [5]:
df3.to_csv('C:/Users/Gordon Huy/Documents/file_name.csv')